$blue-gray: #272a31;
$cocogoose: "Cocogoose",
sans-serif;
$red: #ec5242;

@font-face {
  font-family: "Cocogoose";
  src: url('Cocogoose.woff2') format('woff2'), url('Cocogoose.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;

  * {
    overflow-x: hidden;
  }
}

a:hover {
  color: $red !important;
}

.cocogoose {
  font-family: $cocogoose;
}

.bg-blue-gray {
  background-color: $blue-gray;
}

.text-orange {
  color: $red;
}

.mt-50px {
  margin-top: 100px;
}

#active {
  color: $red !important;
}

.header {
  .hamburguer {
    color: black;
  }

  .left-side {
    width: 20vw;
    margin-right: 20px;
  }

  .left-side>a {
    color: white;
  }

  .navbar-bottom {
    width: 50vw;
  }
}

.main {
  * {
    overflow-y: hidden;
    overflow-wrap: break-word;
  }

  .mytitle {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    color: $red;
    padding-top: 150px;
  }

  .box-summary {
    font-size: 18px;
    width: 100%;
    background-color: #f0efef;
    border: 3px solid white;
  }

  .main-program {
    color: white;

    h3 {
      font-size: 22px;
    }

    h2 {
      font-weight: bolder;
    }

    .resize-row-text {
      width: 50%;
      font-size: 12px;
    }

    .features>div {
      background-color: rgba(65, 68, 75, 0.6);
      border: 2px solid #272a31 !important;

      .far,
      .fas,
      .fab {
        fill: white;
      }
    }
  }

  .guests {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

    .featured-speakers {
      border-bottom: 1px solid $red;
    }
  }
}

.tickets {
  height: 80vh;

  .ticket-title {
    color: $red;
    padding-top: 100px;
  }

  .tickets-table {
    display: flex;
    justify-content: space-around;
    .tickets-table-column {
      display: flex;
      flex-direction: column;
    }
  }
}

.footer {
  * {
    overflow-y: hidden;
  }

  .partners {
    h2 {
      border-bottom: 1px solid $red;
    }

    .fa-creative-commons {
      color: white;
    }
  }
}



@media screen and (min-width: 992px) {
  .bg-lg-dark {
    background-color: black;
  }

  .width-50 {
    width: 50%;
  }
}