@font-face {
  font-family: "Cocogoose";
  src: url("Cocogoose.woff2") format("woff2"), url("Cocogoose.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

body * {
  overflow-x: hidden;
}

a:hover {
  color: #ec5242 !important;
}

.cocogoose {
  font-family: "Cocogoose", sans-serif;
}

.bg-blue-gray {
  background-color: #272a31;
}

.text-orange {
  color: #ec5242;
}

#active {
  color: #ec5242 !important;
}

.header .hamburguer {
  color: black;
}

.header .left-side {
  width: 20vw;
  margin-right: 20px;
}

.header .left-side > a {
  color: white;
}

.header .navbar-bottom {
  width: 50vw;
}

.main .titulo {
  padding-top: 80px;
}

.main .main-program {
  color: white;
}

.main .main-program h3 {
  font-size: 22px;
}

.main .main-program .features > div {
  background-color: rgba(65, 68, 75, 0.6);
  border: 2px solid #272a31 !important;
}

.main .main-program .features > div .far,
.main .main-program .features > div .fas,
.main .main-program .features > div .fab {
  fill: white;
}

.main .guests img {
  width: 120px;
  height: 120px;
}

.main .guests .featured-speakers {
  border-bottom: 1px solid #ec5242;
}

.footer .partners h2 {
  border-bottom: 1px solid #ec5242;
}

.footer .partners .fa-creative-commons {
  color: white;
}

@media screen and (min-width: 992px) {
  .bg-lg-dark {
    background-color: black;
  }
}
