$blue-gray: #272a31;
$cocogoose: "Cocogoose",
sans-serif;
$red: #ec5242;

@font-face {
  font-family: "Cocogoose";
  src: url('Cocogoose.woff2') format('woff2'), url('Cocogoose.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;

  * {
    overflow-x: hidden;
  }
}

a:hover {
  color: $red !important;
}

.cocogoose {
  font-family: $cocogoose;
}

.bg-blue-gray {
  background-color: $blue-gray;
}

.text-orange {
  color: $red;
}

#active {
  color: $red !important;
}

.header {
  .hamburguer {
    color: black;
  }

  .left-side {
    width: 20vw;
    margin-right: 20px;
  }

  .left-side>a {
    color: white;
  }

  .navbar-bottom {
    width: 50vw;
  }
}

.main {
  .titulo {
    padding-top: 80px;
  }

  .main-program {
    color: white;

    h3 {
      font-size: 22px;
    }

    .features>div {
      background-color: rgba(65, 68, 75, 0.6);
      border: 2px solid #272a31 !important;

      .far,
      .fas,
      .fab {
        fill: white;
      }
    }
  }

  .guests {
    img {
      width: 120px;
      height: 120px;
    }

    .featured-speakers {
      border-bottom: 1px solid $red;
    }
  }
}

.footer {
  .partners {
    h2 {
      border-bottom: 1px solid $red;
    }

    .fa-creative-commons {
      color: white;
    }
  }
}

.ticket-box {
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .bg-lg-dark {
    background-color: black;
  }

  .width-50 {
    width: 50%;
  }
}